body{
    background-color: black;
}

h1{
    color: white;
}

.ball{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    transition: width 1s ease-in-out, height 1s ease-in-out;

    border-radius: 50%;
    margin: 0 auto;

    font-size: 22px;
    font-weight: bold;
}

.ball1{
    background-color: yellow;
}

.ball2{
    background-color: blue;
}

.ball3{
    background-color: rosybrown;
}
